.banner_con {
	width: 100%;
	height: 300px;
	background: url(../img/original.jpg);
	background-size: cover;
	background-position: center;
}

.banner_con .banner_body {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
}

.banner_con .banner_body .b_d_content {
	text-align: right;
	padding-top: 35px;
}

.banner_con .banner_body .b_d_content h2 {
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 20px;
}

.banner_con .banner_body .b_d_content span {
	display: inline-block;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgba(255, 255, 255, .3);
	/*设置透明背景色*/
	color: #fff;
}

.banner_con .banner_body .b_d_content .time {
	font-size: 18px;
	color: #fff;
	margin: 20px 0;
}

.banner_con .banner_body .b_d_content .btn_apply a {
	display: inline-block;
	padding: 10px 80px;
	background-color: #fe5341;
	font-size: 22px;
	color: #fff;
}
 .liu_con{
 	width: 100%;
 	background-color: #f0f0f0;
 	padding: 30px 0 20px;
 	margin-bottom: 30px;
 	
 }
 .liu_con .liu_body{
 	width: 1000px;
 	margin: 0 auto;
 	text-align: left;
 }
.liu_con .liu_body h2{
	font-weight: normal;
	font-size: 20px;
    width: 43px;
    padding-left: 11px;
    border-left: 6px #fe5341 solid;
    height: 64px;
	
}
.liu_con .liu_body .list{
	    color: #737373;
	    height: 64px;
	     float: right;
	    display: block;
	  margin-top: -60px;
	 
}
.liu_con .liu_body .list dt{
	width: 188px;
    text-align: center;
    float: left;
     height: 64px;
	 
}
.wrap{
	width: 1000px;
    min-width: 1000px;
    text-align: left;
    margin: 0 auto;
}
.wrap .left{
	width: 700px;
}
.wrap .left h2{
	font-weight: normal;
	font-size: 20px;
    border-left: 6px  solid #fe5341;
    position: relative;
     padding-left: 11px;
}
.wrap .left  .text .top{
	color: rgb(255,0,0);
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
}
.wrap .left  .text .little{
    color: rgb(0, 112, 192);
    font-weight: bold;
}
.wrap .left  .text .blue{
	    color: #0177A7;
}
.wrap .left  .text .red{
	  color: rgb(255, 0, 0);
	  font-weight: bold;
}
.wrap .left  .text strong{
	font-weight: bold;
}

.g_con {
	width: 100%;
}

.g_con_gb {
	width: 100%;
	background-color: #f4f4f4;
}

.g_con .g_body {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.g_con .g_body h2 .more {
	display: inline-block;
	position: absolute;
	right: 0;
}

.g_con .g_body h2 .more a:first-child {
	font-weight: normal;
	font-size: 16px;
	color: #fe5341;
}

.g_con .g_body h2 .more a:last-child {
	display: inline-block;
	width: 12px;
	height: 10px;
	background: url(../img/readMore.png) no-repeat;
}
.g_con .g_body ul {
	position: relative;
}

.g_con .g_body ul li {
	width: 230px;
	float: left;
	margin-top:20PX ;
	margin-right: 24px;
	border: 1px solid#e6e9e9;
	border-radius: 5px;
	/*设置圆角*/
	margin-bottom: 20px;
	box-sizing: border-box;
}

.g_con .g_body ul li img {
	width: 230px;
	transition: .1s transform;
	transform: translateZ(0);
}

.g_con .g_body ul li:hover img {
	transform: scale(1.1);
}

.g_con .g_body ul li:nth-child(4n+4) {
	margin-right: 0;
}

.g_con .g_body ul li h3 {
	font-size: 18px;
	color: #333;
}

.g_con .g_body ul li>div {
	padding: 10px 10px;
	text-align: center;
}

.g_con .g_body ul li .num a {
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #fe5341;
	color: #fe5341;
	border-radius: 5px;
	font-size: 14px;
}


.g_con .g_body ul li p {
	margin: 8px 0 !important;
}

.g_con .g_body ul li .shiyong span {
	color: #fe5341;
	margin-right: 10px;
}

.g_con .g_body ul li .time {
	font-size: 14px;
	color: #fe5341;
}

.wrap .right{
	width: 270px;
	float: right;
	display: block;
	margin-top: -2470px;
	
}
.wrap .right .gm h2,
.wrap .right .ty h2,
.wrap .right .guanzhu h2{
	font-weight: normal;
	font-size: 20px;
    border-left: 6px  solid #fe5341;
    position: relative;
     padding-left: 11px;
   
}
.wrap .right .gm .money{
	 color: #fe5341;
	  font-size: 40px;
      padding: 20px 0 15px;
}
.wrap .right .gm .buyBtn{
	color: #fff;
    background: #fe5341;
    display: block;
    height: 48px;
    border-radius: 5px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
}
.wrap .right .gm .resource{
	color: #a3a3a3;
	margin: 10px 0;
    font-size: 14px;
    text-align: center;
}
.wrap .right .ty .imgBox,
.wrap .right .guanzhu .imgBox{
	margin-top: 20px;
}
.wrap .right .info{
 margin: 10px 0 20px;
}
 .wrap .right .info h5{
 	color: #474747;
    font-size: 16px;
    padding: 5px 0;
 }
.wrap .right .info .text{
	    color: #a3a3a3;
	     font-size: 14px;
}
